{% extends 'base.html' %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
                <div class="col-12">
                    {{ field.label }}
                </div>
                <div class="col-12">
                    {{ field }}
                </div>
            {% endfor %}
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        {{ form.errors }}
    </form>
{% endblock content %}