{% extends 'base.html' %}
{% block content %}
    <h2>Sign up</h2>
    <form method="post">
        {% csrf_token %}
            <div class="row">
                {% for field in form %}
                    <div class="col-12">
                        {{ field.label }}
                    </div>
                    <div class="col-12">
                        {{ field }}
                    </div>
                {% endfor %}
            </div>

        {{ form.errors }}
        <button class="btn btn-primary" type="submit">Submit</button>
  </form>
{% endblock content %}